#contact_modal {
    display: none;
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
}
#close_modal {
    background: unset;
    border: unset;
    position: absolute;
    top: 55px;
    right: 35px;
}

.sort-area{
    margin: 0 100px;
    height: 100px;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    font-size: 1.1rem;
}
#sort-button{
    font-size: 1.1rem;
    text-align: left;
}
#sort-list{
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
    font-weight: bold;
    height: unset;
    position: relative;
    top: 70px;
}
#sort-wrapper li{
    padding: 1rem 0.8rem;
}
#sort-wrapper li:nth-child(2) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.hidden {
    display: none;
}
.gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px
}

#lightbox_modal {
    display: none;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr 1fr 40px;
    grid-template-areas: 
      ". pic_area close_area"
      "previous_area pic_area next_area"
      ". title_area .";
    position: fixed;
    background: white;
    width: 90vw;
    height: 90vh;
    max-width: 1253px;
    padding: 1rem;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#lightbox_modal button {
    background: none;
    border: none;
}
#lightbox_medium {
    grid-area: pic_area;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#lightbox_title {
    grid-area: title_area;
}
#lightbox_previous {
    grid-area: previous_area;
}
#lightbox_next {
    grid-area: next_area;
}
#lightbox_close {
    grid-area: close_area;
}

.photographer__header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
}

.contact_button {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.media_section {
    display: grid;
    grid-template-columns: repeat(3,350px);
    row-gap: 20px;
    justify-content: space-between;
    margin-inline: 100px;
}

.medium {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.medium__img {
    height: 350px;
    width: 350px;
    object-fit: cover;
}
.medium__legend {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: #911C1C;
}
.medium__title, #lightbox_title {
    font-size: 1.4rem;
    color: #911C1C;
}
.medium__likes {
    font-weight: 500;
    margin-left: auto;
    margin-right: 0.5rem;
}

.photographer__sticker {
    background-color: #DB8876;
    border-radius: 5px;
    padding: 1.5rem;
    font-size: 1.4rem;
    position: fixed;
    right: 3rem;
    bottom: -12px;
    display: flex;
}

.total-like-button {
    margin-left: .5rem;
    margin-right: 3rem;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: relative;
}

#modalTitle {
    font-size: 3rem;
    color: black;
    font-weight: normal;
    text-align: left;
    margin: 0;
    width: 100%;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 12px;
}

form input, textarea {
    font-size: 2.2rem;
    width: 100%;
    border: none;
    border-radius: 5px;
}
.text-control--long {
    height: 7rem;
}