@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: auto;
    max-width: 1440px;
}
input, textarea, button {
    font-family: inherit
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
h1, h2 {
    font-weight: 400;
}
h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer__link {
    text-decoration: none;
    text-align: center;
}

.photographer__name {
    color: #D3573C;
    font-size: 2.3rem;
    margin: 0;
    line-height: 47px;
}

.photographer__img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photographer__details {
    text-align: center;
}
.photographer__details > p {
    margin-block: .8rem;
}

.photographer__location {
    color: #901C1C;
    font-size: 1.3rem;
    line-height: 17px;
}

.photographer__tagline {
    color: black;
    font-size: 1rem;
    line-height: 13px;
}

.photographer__rate {
    color: #757575;
    font-size: 1rem;
    line-height: 12px;
}